
.body{
    
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(175, 215, 248);
}

.header__title{
    font-size: 34px;
    font-weight: bold;
    padding: 16px 0px 16px 0px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.2s;
    
}
.header__title:hover{
    color: #333;
    transition: 0.2s;
}
.container{
    margin: 0 auto;
    padding-top: 24px;
    width: 1200px;
    display:  grid;
    
}

.card{
    background-color: rgb(175, 215, 248);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.title__field{
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    margin-left: 20px;
    margin-top: 20px;
    color: #333;
}
.text__field{
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin-left: 30px;
    margin-top: 10px;
    font-style: italic;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 10px 20px;
    color: #333;
}
.btn__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #333;
   
}
.btn__delete{
    text-align: center;
    background-color: #fff;
    border-radius: 50px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-weight: bold;
    color: #333;
    transition: 0.2s;
}
.btn__delete:hover{
background-color: #333;
color: #fff;
transition: 0.2s;
}